/*Main config */
:root {
    --dark: #1f2937;
    --blue: #3882f6;
    --light0: #808080;
    --light1: #e5e7eb;
    --light2: #f9faf8;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Extra-Bold';
    src: url(./fonts/Roboto-Black.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: lighter;
}

*,
ul,
ol {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
}

/*Index (Laning page)*/
.button {
    background-color: #3882f6;
    color: var(--light2);
    font-family: "Roboto Extra-Bold";
    font-size: 12px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 33px;
    margin-bottom: 3%;
    margin-top: 3%;
}

header {
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark);
}

header div.normal-color {
    font-size: 24px;
    color: var(--light1);
}

header nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav a {
    color: var(--light1);
    font-size: 18px;
}


.nav-dropdown{
    position: relative;
    display: inline-block;
}

.nav-dropdown-content{
    display: none;
    position: absolute;
    padding: 10px 10px;
    background-color: #E5E7EB;
    border-radius: 5px;
}

.nav-dropdown-content a{
    text-decoration: none;
    padding: 3px 3px;
    color: black;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }

.nav-dropdown-content a:hover {
    color: #3882f6;
}

.section-1 {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 400px;
}

.section-1 div {
    margin: 4%;
    width: 360px;
    color: var(--light1);
}

.section-1 h1 {
    font-family: 'Roboto Extra-Bold';
    font-size: 48px;
    color: var(--light2);
}

.section-1 p {
    font-size: 18px;
}

.section-1 .image-container {
    width: 400px;
    height: 210px;
    background-color: var(--light0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
}

.section-2 h1{
    color: var(--dark);
    font-size: 36px;
    font-family: 'Roboto Extra-bold';
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
}

.card{
    width: 220px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card img{
    border-radius: 10px;
    border: 2px solid var(--blue);
    width: 150px;
    height: 150px;
}

.card p{
    width: 150px;
}

.section-3{
    width: 100%;
    min-height: 400px;
    background-color: var(--light1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 p{
    color: var(--dark);
    font-family: 'Roboto Italic';
    font-size: 36px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3 strong{
    align-self: flex-end;
    font-size: 20px;
}

.section-4{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 .callAction{
    color: var(--light2);
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    height: 100px;
    padding: 20px;
}

.callAction p{
    font-size: 15px;
    color: var(--light1);
}

.callAction button{
    border: 1px solid var(--light2)
}

section h3 {
    text-align: center;
    margin-bottom: 3%;
}

/*Sign in page*/
.signin-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90svh;
    background-color: var(--dark);
}

.signin-form{
    background-color: var(--light2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    padding: 20px;
    gap: 15px;
    border-radius: 5px;
}

.input-txt{
    height: 40px;
    width: 90%;
    text-align: center;
    border: 1px solid var(--light1);
    background-color: var(--light1);
    border-radius: 5px;
}

.signin-btn{
    width: 50%;
    height: 40px;
    background-color: var(--blue);
    color: var(--light2);
    border: none;
    border-radius: 5px;
}

.signin-btn:hover{
    transition: 1s;
    background-color: var(--dark);
}

.forgot-password{
    font-size: medium;
    color: var(--light0);
}

.signup-now{
    margin-top: 30px;
    font-size: medium;
    color: var(--light0);
}

.signup-now a{
    color: var(--dark);
}

.signup-now a:hover{
    transition: 1s;
    color: var(--blue);
}

/* About page */

/* Positioning of the main sections */
.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 10%;
    margin-bottom: 3em;
    padding-top: 1em;
    background-color: #e5e7eb;
    width: 80%;
    border-radius: 0.5em;
}

.section h2 {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
}

.section img {
    max-width: 30vw;
    height: auto;
}

/* Scrollbox for the p when the screen too small */

.scrollbox {
  overflow: auto;
  width: 60%;
  max-height: 10vh;
  margin: 1em 0;
}

.quote-section {
    background-image: url(./Images/about-chess-img.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (min-width: 768px) {
    /* responsive design for quote sections */
    .quote-section {
        overflow: hidden;
        height: 40vh;
        width: 100%;
    }
}

.quote-section p {
    /* can't apply the color bc it's too dark for the background */
    margin-top: 1em;
    font-style: light italic;
    font-weight: 300;
}

.games-list {
    list-style: none;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   
.games-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.games-list img {
    width: auto;
    max-height: 30vh;
}

.games-list a {
    color: black;
}

@media screen and (max-width: 768px){
    .games-list li {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 768px) {
    .contact-us h2 {
        margin-right: 10em;
    }
}

/*Game pages*/

.game-info {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.game-info section {
    width: 33%;
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-header img {
    width: 50%;
    height: 33%;
}

.game-header h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Roboto Extra-Bold";
}

.game-about{
    flex-wrap: wrap;
    flex-direction: row;
    border: solid;
    border-radius: 0.1%;
}

.labal {
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    border-radius: 0.1%;
    padding: 3%;
}

/*Footer*/

footer {
    width: 100%;
    background-color: var(--dark);
    color: var(--light2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: static;
    bottom: 0;
}

footer li {
    list-style: none;
}

footer a {
    color: var(--light2);
}

.footer-about {
    flex-direction: column;
}

.contact-us { 
    display: flex;
    margin-bottom: 1em;
}

.footer-about ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.contact-us h2 {
    margin-right: 3em;
}

.footer-nav {
    display: flex;
    gap: 2em;
}

.footer-about small {
    margin-top: 1em;
}
