li {
    list-style: none;
    display: inline-block;
    padding: 0.5em 1em;
}

header {
    justify-content: space-between;
}

a {
    color: white;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 10%;
    margin-bottom: 3em;
    padding-top: 1em;
    background-color: #e5e7eb;
    width: 80%;
    border-radius: 0.5em;
}

.section h2 {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
}

.section img {
    max-width: 30vw;
    height: auto;
}

.scrollbox {
  overflow: auto;
  width: 60%;
  max-height: 10vh;
  margin: 1em 0;
}

.quote-section {
    background-image: url(../Images/about-chess-img.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (min-width: 768px) {
    /* responsive design for quote sections */
    .quote-section {
        overflow: hidden;
        height: 40vh;
        width: 98.9vw;
    }
}

.quote-section p {
    /* can't apply the color bc it's too dark for the background */
    margin-top: 1em;
    font-style: light italic;
    font-weight: 300;
}

.games-list {
    list-style: none;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   
.games-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-list img {
    width: auto;
    max-height: 30vh;
}

.games-list a {
    color: black;
}

@media screen and (max-width: 768px){
    .games-list li {
        flex-basis: 50%;
    }
}

footer {
    flex-direction: column;
}

.contact-us { 
    display: flex;
    margin-bottom: 1em;
}

.contact-us h2 {
    margin-right: 3em;
}

@media screen and (min-width: 768px) {
    .contact-us h2 {
        margin-right: 10em;
    }
}

.footer-nav {
    display: flex;
    gap: 2em;
}

footer small {
    margin-top: 1em;
}